body {
  font-family: Helvetica, Arial, sans-serif;
  border: 5px solid black;
}


/* Header Section ---------------------------------------*/

header {
  display: block;
  position: relative;
  background-color: black;
  width: 100%;
  height: 72px;
  border: 5px solid red;
  z-index: 10;
}

.logo {
  color: white;
  display: inline-block;
  background: #fff url(../images/logo.gif) no-repeat;
  width: 107px;
  height: 172px;
  margin-left: 36px;
  /* Hide Text */
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.menu {
  float: right;
  margin-top: 25px;
  margin-right: 37px;

}

header ul li {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin: 0 15px;
}

#account {
  width: 135px;
  height: 30px;
  background: #000 url(../icons/people.svg) no-repeat 99% bottom;
  padding-right: 45px;
  padding-top: 20px;
}

#stores {
  width: 135px;
  height: 30px;
  background: #000 url(../icons/location.svg) no-repeat 99% bottom;
  padding-right: 30px;
  padding-top: 20px;
}

#cart {
  width: 135px;
  height: 30px;
  background: #000 url(../icons/cart.svg) no-repeat 99% bottom;
  padding-right: 35px;
  padding-top: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Splash and Overlay ------------------------------------*/

.overlay {
  width: auto;
  height: 600px;

  border: 5px solid yellow;
}

.overlay {
  position: relative;
  background: #000 url(../images/mountain_bike_pass.jpg) no-repeat center;
  background-size: cover;
  width: auto;
  height: 600px;
  overflow: hidden;
}

.splash {
  position: relative;
  top: 30%;
  text-align: center;
  color: white;
}
.splash h1 {
  font-size: 58pt;
  margin-bottom: -18px;
}
.splash p {
  font-size: 16pt;
  font-weight: lighter;
  bottom: 50px;
}

.search {
  width: 600px;
  border: 1px solid black;
  height: 30px;
  font-size: 16px;
  background: #fff url(../icons/search.svg) no-repeat 99%;
  padding-right: 30px;
}

/* Cards Section -----------------------------------------*/

.cards {
  border: 5px solid green;
}

/* Articles Section --------------------------------------*/

.articles {
  border: 5px solid blue;
}

/* Footer Section ----------------------------------------*/

footer {
  border: 5px solid purple;
}

.footer-logo {
  float: right;
  margin-left: 0px;
  margin-right: 36px;
}
