body {
  font-family: Helvetica, Arial, sans-serif;

  border: 5px solid black;
}


/* Header Section ---------------------------------------*/

header {
  display: block;
  position: relative;
  background-color: black;
  width: 100%;
  height: 72px;
  z-index: 10;

  border: 5px solid red;
}

.logo {
  color: white;
  display: inline-block;
  background: #fff url(../images/logo.gif) no-repeat;
  width: 107px;
  height: 172px;
  margin-left: 36px;
  /* Hide Text */
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.menu {
  float: right;
  margin-top: 25px;
  margin-right: 37px;

}

header ul li {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin: 0 15px;
}

#account {
  width: 135px;
  height: 30px;
  background: #000 url(../icons/people.svg) no-repeat 99% bottom;
  padding-right: 45px;
  padding-top: 20px;
}

#stores {
  width: 135px;
  height: 30px;
  background: #000 url(../icons/location.svg) no-repeat 99% bottom;
  padding-right: 30px;
  padding-top: 20px;
}

#cart {
  width: 135px;
  height: 30px;
  background: #000 url(../icons/cart.svg) no-repeat 99% bottom;
  padding-right: 35px;
  padding-top: 20px;
}

a {
  color: white;
  text-decoration: none;
}

/* Splash and Overlay ------------------------------------*/

.overlay {
  width: auto;
  height: 600px;

  border: 5px solid yellow;
}

.overlay {
  position: relative;
  background: #000 url(../images/mountain_bike_pass.jpg) no-repeat center;
  background-size: cover;
  width: auto;
  height: 600px;
  overflow: hidden;
}

.splash {
  position: relative;
  top: 30%;
  text-align: center;
  color: white;
}
.splash h1 {
  font-size: 58pt;
  margin-bottom: -18px;
}
.splash p {
  font-size: 16pt;
  font-weight: lighter;
  bottom: 50px;
}

.search {
  width: 600px;
  border: 1px solid black;
  height: 30px;
  font-size: 16px;
  background: #fff url(../icons/search.svg) no-repeat 99%;
  padding-right: 30px;
}

/* Cards Section -----------------------------------------*/

.cards-section {
  background-color: #64c365;
  padding-bottom: 30px;

  border: 5px solid green;
}

.cards-section h1 {
  margin-left: 36px;
  font-size: 28pt;
  font-weight: bold;
  margin: 20px 0 17px 36px;
}

.card {
  display: inline-block;
  width: 330px;
  height: 380px;
  margin: 0 36px;
}

.card-text {
  position: relative;
  bottom: 20px;
  height: 190px;
  background-color: #fff;
}

.card-text a {
  color: #000;
}

.first-card>a {
  background: #000 url(../images/bike_gears.jpg) no-repeat center;
  background-size: cover;
  display: block;
  width: 330px;
  height: 192px;
  /* Hide Text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.second-card>a {
  background: #000 url(../images/map.jpg) no-repeat center;
  background-size: cover;
  display: block;
  width: 330px;
  height: 192px;
  /* Hide Text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.third-card>a {
  background: #000 url(../images/mountain_scenery.jpg) no-repeat center;
  background-size: cover;
  display: block;
  width: 330px;
  height: 192px;
  /* Hide Text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.card-text h2 {
  background: #fff url(../icons/arrows.svg) no-repeat 99% bottom;
  font-size: 25pt;
  margin: 20px 0 20px 16px;
  padding-top: 21px;
  text-decoration: underline;
}

.card-text p {
  font-size: 15px;
  margin: 0 0 0 16px;
  padding: 0 0;
}

/* Articles Section --------------------------------------*/

.articles {
  border: 5px solid blue;
}

/* Footer Section ----------------------------------------*/

footer {
  border: 5px solid purple;
}

.footer-logo {
  float: right;
  margin-left: 0px;
  margin-right: 36px;
}
