$primary: #42634d;
$secondary: #6CA147;
$highlight: #a0466c;
$gray: #8a8c8b;

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.content {
  margin: 4rem auto 0 auto;
  max-width: 70%;
  h2 {
    text-align: center;
    font-size: 2rem;
    color: $secondary;
  }
  p {
    padding: 0 2em;
    font-size: 1.2rem;
    text-align: center;
    color: $gray;
  }
}

// Parallax Title

.canyon-bg {
  position: relative;
  width: 100%;
  height: 470px;
  background: url(../images/backgroundtiny.jpg) no-repeat top center;
  background-size: contain;
  background-attachment: fixed;
  overflow: hidden;
}

.logo {
  height: 100px;
  width: 70%;
  background: url(../images/title-tiny.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -35%;
}

.foreground-pines-left {
  width: 742px;
  height: 1312px;
  background: url(../images/foreground-pines-left-tiny.png) no-repeat left bottom;
  background-size: contain;
  position: absolute;
  right: 60%;
  top: 40%;
}

.foreground-pines-right {
  width: 960px;
  height: 1503px;
  background: url(../images/foreground-pines-right-tiny.png) no-repeat right bottom;
  background-size: contain;
  position: absolute;
  left: 75%;
  top: 30%;
  margin-left: -480px;
}

// Promos

.trip-list {
  margin: 0 auto 1rem auto;
  max-width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  a {
    position: relative;
    text-decoration: none;
    color: #fff;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &.is-showing {
      opacity: 1;
      transform: translateX(0px);
    }

    &:hover {
      .caption {
        left: 0%;
      }
      img {
        transform: scale(1.2);
        border-radius: 10px;
      }
    }

    img {
      width: 320px;
      height: 200px;
      border-radius: 10px;
      margin: 0.7rem;
      transform: scale(1);
      transition: all 0.3s ease-in-out;

    }
    .odd {
      flex-grow: 1;
    }
    .even {
      height: 250px;
      flex-grow: 2
    }
    .caption {
      position: absolute;
      bottom: 1rem;
      left: -100%;
      background: $highlight;
      padding: 8px 8px;
      transition: all 0.3s ease-in-out;
    }
  }
}

.more-trips-link {
  max-width: 70%;
  height: 100px;
  margin: 0 auto 3rem auto;
  a {
    text-decoration: none;
    color: $secondary;
    float: right;
    &:hover {
      color: $highlight;
    }
  }
}

// Testimonials

.testimonial-list {
  margin: 2rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .testimonial {
    width: 400px;
    img {
      border-radius: 90px;
      float: left;
    }
    h4 {
      margin: 0;
      padding-left: 9.5rem;
    }
    figcaption {
      margin: 1rem 0 2rem 1.5rem;
      padding-left: 8rem;
    }
  }
}


// Email Banner

.email-banner {
  position: relative;
  width: 100%;
  height: 470px;
  background: url(../images/rural-sm.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.bg-tint {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  h2 {
    margin-top: 2rem;
    color: #fff;
    text-align: center;
  }
  .sign-up {
    margin: 0 auto;
    max-width: 50%;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .main-form {
      // float: left;
      max-width: 100%;
      margin: 3rem 3rem 0 2rem;
      input[type="text"], input[type="email"] {
        display: block;
        width: 300px;
        margin: 2rem 0;
        height: 3.25em;
        border: none;
        outline: none;
        border-radius: .3em;
        background: #fff;
        padding: .5em 1.25em;
        font-size: .8em;
        color: $gray;
      }
    }
    .checkbox-form {
      p {
        margin: 1rem 0 1rem 0;
      }
      // float: right;
      padding: 0 2rem 2rem 3rem;
      border-left: #fff 1px solid;
    }
    .button-container {
      clear: both;
      margin: 0 auto;
      padding-top: 1rem;
      display: flex;
      justify-content: center;
      .button {
        border: none;
        outline: none;
        padding: 1em 4.5em;
        border-radius: 2em;
        background: $highlight;
        color: #fff;
        font-weight: 700;
        font-size: 1rem;
        margin-top: 0.5rem;
        &:hover {
          background-color: $secondary;
          cursor: pointer;
        }
      }
    }
  }
}

// Footer

footer {
  background-color: #000;
  position: relative;
  width: 100%;
  height: 500px;
  .footer-logo {
    height: 75px;
    width: 45%;
    background: #000 url(../images/title-tiny.png) no-repeat left top;
    background-size: contain;
    position: absolute;
    top: 5rem;
    left: 50%;
    margin-left: -22%;
  }
  .icons {
    margin: 0 auto 0 auto;
    max-width: 70%;
    display: flex;
    justify-content: center;
    img {
      width: 100px;
      height: 100px;
      margin: 12rem 1rem 1rem 1rem;
      color: #fff;
    }
  }
  .small-links {
    margin: 0;
    position: absolute;
    top: 350px;
    width: 100%;
    // margin-left: -14%;
    ul {
      margin: 0 auto;
      max-width: 30%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        list-style-type: none;
        display: inline;
        a {
          text-decoration: underline;
          color: #fff;
          font-weight: 100;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}

//**********************************
// MEDIA QUERIES
//**********************************

// ----------------- LG DESKTOP --------------

@media only screen and (max-width: 1485px) {

  .trip-list {
    max-width: 80%;
  }

}

// ------------------ SM DESKTOP -------------

@media only screen and (max-width: 1450px) {

  // Email Banner

  .bg-tint {
    .sign-up {
      max-width: 62%;
    }
  }

  // Title bg

  .canyon-bg {
    background-size: cover;
  }

}

//----------------- TABLET ------------------------------//

@media only screen and (max-width: 650px) {

  // ---------------------------Parallax Title

  .logo {
    width: 90%;
    margin-left: -45%;
  }

  // ---------------------------Promos

  .content {
    margin: 2rem auto 0 auto;
    max-width: 95%;
  }

  .trip-list {
    margin: 0 auto 1rem auto;
    max-width: 95%;
    a {
      img {
        width: 260px;
        height: 250px;
      }
      .caption {
        bottom: 1rem;
        left: -1%;
        font-size: 0.9rem;
      }
    }
  }

  // ---------------------------Email Banner

  .email-banner {
    height: 580px;
  }

  .bg-tint {
    h2 {
      margin-top: 1rem;
      color: #fff;
      text-align: center;
    }
    .sign-up {
      margin: 0 auto;

      .main-form {
        margin: 0 3rem 0 2rem;
        input[type="text"], input[type="email"] {
          margin: 1rem 0;
        }
      }
      .checkbox-form {
        p {
          margin: 0 0 1rem 0;
        }
        padding: 0;
        border-left: #fff 0px solid;
      }
    }
  }

  // -----------------------------------Footer

  footer {
    height: 320px;
    .footer-logo {
      height: 50px;
      top: 3rem;
      width: 90%;
      margin-left: -45%;
    }
    .icons {
      img {
        margin: 7rem 1rem 1rem 1rem;
      }
    }
    .small-links {
      top: 250px;
      ul {
        margin: 0 auto;
        max-width: 65%;
        li {
        }
      }
    }
  }

}

//------------- MOBILE ----------------------------------//

@media only screen and (min-width: 320px) and (max-width: 450px) {

  // ------------------- Parallax Title

  .canyon-bg {
    width: 100%;
    height: 90vh;
  }

  .logo {
    height: 100px;
    width: 95%;
    top: 20%;
    left: 50%;
    margin-left: -47%;
  }

  .foreground-pines-left {
    right: 10%;
    top: 30%;
  }

  .foreground-pines-right {
    left: 15%;
    top: 30%;
  }

  // ------------------- Promos

  .content {
    margin: 2rem auto;
    max-width: 85%;
    h2 {
      padding: 0 0.5rem;
    }
    p {
      padding: 0 1em;
      font-size: 1rem;
    }
  }

  .trip-list {
    margin: 0 auto;
    max-width: 70%;
    a {

      img {
        max-width: 95%;
        max-height: 95%;
      }
      .caption {
        font-size: 0.8rem;
        bottom: 1rem;
        left: -1%;
      }
    }
  }

  .more-trips-link {
    max-width: 65%;
    height: 45px;
    margin: 0 auto 0 auto;
  }

  // ------------------ Testimonials

  .testimonial-list {
    .testimonial {
      width: 100%;
      margin: 0;
      img {
        border-radius: 90px;
        float: left;
        width: 90px;
        height: 90px;
      }
      h4 {
        margin: 0;
        padding-left: 6.5rem;
        font-size: 1rem;
      }
      figcaption {
        margin: 1rem 0 2rem 1.5rem;
        padding-left: 5rem;
      }
    }
  }

  // ---------------------- Email Banner

  .email-banner {
    height: 600px;
  }

  .bg-tint {
    h2 {
      font-size: 1.3rem;
      margin-bottom: 0;
    }
    .sign-up {
      max-width: 89%;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .main-form {
        // float: left;
        max-width: 100%;
        margin: 0rem 3rem 0 2rem;
        input[type="text"], input[type="email"] {
          margin: 1rem 0;
        }
      }
      .checkbox-form {
        p {
          margin: 0;
        }
        padding: 0;
        border-left: #fff 0px solid;
      }
    }
  }

  // -------------------------- Footer

  footer {
    height: 220px;
    .footer-logo {
      height: 45px;
      width: 95%;
      top: 2rem;
      margin-left: -47%;
    }
    .icons {
      margin: 0 auto 0 auto;
      max-width: 100%;
      img {
        width: 60px;
        height: 60px;
        margin: 5rem 1rem 1rem 1rem;
      }
    }
    .small-links {
      top: 180px;
      width: 100%;
      ul {
        margin: 0 auto;
        max-width: 95%;
        padding: 0;
        li {
          a {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

}



@media only screen and (min-width: 1815px) {

  // Email Banner

  .bg-tint {
    .sign-up {
      max-width: 40%;
    }
  }

}
