
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 0 0 0;
  color: white;
  height: 100%;
}

/* clear default decorations------------------- */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

/* Wrapper */
.wrapper {
  height: 100%;
  width: 100%;
}

/* Header Section ------------------------------*/

header {
  background-color: #000;
  position: fixed;
  z-index: 10;
}

/* Main Section --------------------------------*/

.main {
  background-color: #5f2c82;
}

/* First Card Section -------------------------*/

.first-info-card {
  background-color: #46a55b;
}

/* -----------------DESKTOP---------------------------- */
@media only screen and (min-width: 426px) and (max-width: 2560px) {

  .ghost-button {
    text-align: center;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
  }

  .ghost-button:hover,
  .ghost-button:active {
    background-color: #fff;
    color: #619d9e;
  }

  /* Header Section ------------------------*/

  header {
    height: 75px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
  }

  #rocket-ship-logo {
    display: inline-block;
    width: 50px;
    height: 65px;
    background: transparent url(../assets/icons/rocket_ship.svg) no-repeat center;
    background-size: contain;
    margin: 5px 0 0 8px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  #menu {
    display: none;
  }

  .nav {
    position: relative;
    display: inline-block;
    list-style: none;
    bottom: 30%;
    padding-left: 34px;
  }

  .nav li {
    display: inline-block;
  }

  .nav li a {
    font-weight: lighter;
    font-size: 16pt;
    margin-right: 34px;
  }

  .purchase-button {
    position: relative;
    display: inline-block;
    float: right;
    margin: 1.5% 3% 0 0;
  }

/* Main Section --------------------------*/

  .main {
    height: 700px;
    position: relative;
    background: linear-gradient(to bottom right, #5f2c82, #619d9e);
  }

  .title {
    margin: 0 auto;
    width: 80%;
    padding-top: 180px;
    font-size: 54pt;
    font-weight: bold;
    text-align: center;
  }

  .subtitle {
    font-size: 19pt;
    font-weight: lighter;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 60%;
  }

 #planet-left {
    position: absolute;
    background: transparent url(../assets/icons/planet.svg) no-repeat center right;
    background-size: contain;
    width: 200px;
    height: 155px;
    left: 5%;
    top: 26%;
 }

  #comet-pack-left {
    float: left;
    position: absolute;
    bottom: 0%;
    width: 273px;
    height: 180px;
  }

  #small-comet {
    position: relative;
    background: transparent url(../assets/icons/comet.svg) no-repeat center;
    background-size: contain;
    width: 35px;
    height: 35px;
    left: 42%;
    top: 0%;
  }

  #medium-comet {
    position: relative;
    background: transparent url(../assets/icons/comet.svg) no-repeat center;
    background-size: contain;
    width: 56px;
    height: 60px;
    left: 20%;
    top: 35%;
  }

  #large-comet {
    position: relative;
    background: transparent url(../assets/icons/comet.svg) no-repeat center;
    background-size: contain;
    width: 81px;
    height: 87px;
    left: 70%;
    top: -30%;
  }

  #floating-astronaut {
    position: absolute;
    background: transparent url(../assets/icons/astronaut.svg) no-repeat center right;
    background-size: contain;
    width: 80px;
    height: 81px;
    left: 88%;
    top: 15%;
  }

  #comet-pack-right {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 267px;
    height: 337px;
  }

  #first-comet {
    position: relative;
    background: transparent url(../assets/icons/comet.svg) no-repeat center;
    background-size: contain;
    width: 57px;
    height: 61px;
    left: 0%;
    top: 0%;
  }

  #second-comet {
    position: relative;
    background: transparent url(../assets/icons/comet.svg) no-repeat center;
    background-size: contain;
    width: 84px;
    height: 87px;
    left: 51%;
    top: -10%;
  }

  #third-comet {
    position: relative;
    background: transparent url(../assets/icons/comet.svg) no-repeat center;
    background-size: contain;
    width: 125px;
    height: 130px;
    left: 11%;
    top: 10%;
  }

  #space-man {
    position: absolute;
    background: transparent url(../assets/icons/astronaut_flag.svg) no-repeat center;
    background-size: contain;
    width: 112px;
    height: 112px;
    left: 45%;
    top: 60.5%;
  }

  #home-planet {
    position: absolute;
    background: transparent url(../assets/icons/home_planet.svg) no-repeat top;
    background-size: cover;
    width: 320px;
    height: 175px;
    top: 75%;
    left: 35%;
  }

  #planet-right,
  #space-comet-top,
  #space-comet-left,
  #space-comet-right {
    display: none;
  }

  /* Card Sections -----------------------------*/

  h1 {
    text-align: left;
    font-size: 30pt;
    margin-top: 0;
    margin-left: 4%;
    padding-top: 62px;
    font-weight: bold;
  }

  .lighter-title {
    font-style: normal;
    font-weight: lighter;
  }

  .icons {
    position: absolute;
    margin: 0 0 0 0;
    width: 100%;
    overflow: hidden;
  }

  .icon-container {
    display: inline-block;
    width: 131px;
    height: 100%;
    margin-right: 6%;
    float: right;
  }

  .first-info-card p,
  .second-info-card p,
  .article-spread p {
    display: block;
    width: 500px;
    margin-top: 0px;
    margin-left: 4%;
    font-weight: lighter;
    font-size: 22px;
  }

  .icon-container p {
    font-size: 14pt;
    margin-top: 30px;
  }


  /* First Card Section -----------------------------------*/

  .first-info-card {
    position: relative;
    height: 380px;
    background: linear-gradient(to right, #46a65b, #a9e260);
  }

  .performance-icon {
    display: inline-block;
    background: transparent url(../assets/icons/analytics.svg) no-repeat center;
    background-size: contain;
    width: 65%;
    height: 44px;
    padding: 20px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .second-performance-icon {
    display: inline-block;
    background: transparent url(../assets/icons/comet.svg) no-repeat center right;
    background-size: contain;
    width: 65%;
    height: 44px;
    padding: 20px;

    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .center-center {
    margin-right: 8%;
  }

  .third-performance-icon {
    display: inline-block;
    background: transparent url(../assets/icons/recycle_analytics.svg) no-repeat center right;
    background-size: contain;
    width: 55%;
    height: 44px;
    padding: 20px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Second Card Section-------------------------------------*/

  .second-info-card {
    position: relative;
    height: 380px;
    background: linear-gradient(to right, #fe4f33, #e02870);
  }

  .connection-icon {
    display: block;
    margin: 0 auto;
    background: transparent url(../assets/icons/link.svg) no-repeat center right;
    background-size: contain;
    width: 60%;
    height: 44px;
    padding: 15px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .second-connection-icon {
    display: block;
    margin: 0 auto;
    width: 50%;
    background: transparent url(../assets/icons/planet.svg) no-repeat center;
    background-size: contain;
    width: 54px;
    height: 44px;
    padding: 15px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .center {
    margin-right: 10%;
  }

  /* Article Spread Section -----------------------------*/

  .article-spread {
    position: relative;
    height: 450px;
    background: linear-gradient(to right, #5f2c82, #619d9e);
  }

  .first-row {
    top: 16%;
    right: 11%;
  }

  .second-row {
    top: 55%;
    right: 10%;
  }

  .access-icon {
    display: block;
    background: transparent url(../assets/icons/astronaut.svg) no-repeat center;
    background-size: contain;
    width: 65%;
    height: 44px;
    padding: 20px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .second-access-icon {
    display: block;
    background: transparent url(../assets/icons/two_way_access.svg) no-repeat center right;
    background-size: contain;
    width: 65%;
    height: 44px;
    padding: 20px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .third-access-icon {
    display: block;
    background: transparent url(../assets/icons/cloudDL.svg) no-repeat center;
    background-size: contain;
    width: 65%;
    height: 44px;
    padding: 20px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .fourth-access-icon {
    display: block;
    background: transparent url(../assets/icons/handicap.svg) no-repeat center;
    background-size: contain;
    width: 65%;
    height: 44px;
    padding: 20px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Footer Section ----------------------------------------*/

  footer {
    position: relative;
    height: 120px;
    background: linear-gradient(to right, #fc9b0e, #fbef28);
  }

  footer h1 {
    display: inline-block;
    position: absolute;
    font-size: 35pt;
    top: 20%;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 5px;
  }

  .footer-icon {
    display: inline-block;
    position: relative;
    float: right;
    width: 80px;
    height: 80px;
    top: 18%;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .facebook {
    background: transparent url(../assets/icons/fbsocial.svg) no-repeat center;
    background-size: contain;
    right: 8%;
  }

  .twitter {
    background: transparent url(../assets/icons/twittersocial.svg) no-repeat center;
    background-size: contain;
    right: 5%;
  }

}

/* --------------TABLET------------------------------ */
@media only screen and (min-width: 426px) and (max-width: 1150px) {

  /* Tablet Main Section -------------------------------*/

  #planet-left {
    display: none;
  }

  #first-comet {
    display: none;
  }

  #second-comet {
    display: none;
  }

  #second-comet {
    position: relative;
    background: transparent url(../assets/icons/comet.svg) no-repeat center;
    background-size: contain;
    width: 84px;
    height: 87px;
    left: 51%;
    top: -10%;
  }

/* Tablet Card Sections -----------------------------*/

  h1 {
    text-align: center;
    font-size: 30pt;
    margin-top: 0;
    margin-left: 4%;
    padding-top: 30px;
    font-weight: bold;
  }

  .icons {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 0;
    width: 100%;
    overflow: hidden;
  }

  .icon-container {
    display: inline-block;
    width: 131px;
    height: 100%;
    margin-right: 6%;
    margin: 0 auto;

    float: none;
  }

  .performance-icon,
  .second-performance-icon,
  .third-performance-icon {
    width: 55%;
    height: 24px;
  }

  .connection-icon,
  .second-connection-icon {
    width: 55%;
    height: 24px;
  }

  .first-info-card p,
  .second-info-card p,
  .article-spread p {
    display: block;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: lighter;
    font-size: 18px;
  }

  .icon-container p {
    font-size: 14pt;
    margin-top: 20px;
  }

/* Tablet Article Spread Section ---------------------------*/

  .first-row {
    top: 0;
    right: 0;
  }

  .second-row {
    top: 5%;
    right: 0;
  }

  .tablet-margin-right {
    margin-right: 5%;
    margin-bottom: 3%;
  }

  .tablet-margin-left {
    margin-left: 5%;
  }

  .tablet-hide {
    display: none;
  }

  .access-icon,
  .second-access-icon,
  .third-access-icon,
  .fourth-access-icon {
    width: 55%;
    height: 24px;
  }

  .extra-text {
    display: none;
  }

}

@media only screen and (min-width: 1260px) {
  .wrapper {
    position: relative;
    width: 1260px;
    height: 100%;
    margin: 0 auto;
  }
}

/* Fix Buy Now Button */
@media only screen and (max-width: 710px) {

  #menu {
    display: inline-block;
    width: 26px;
    height: 23px;
    background: transparent url(../assets/icons/menu.svg) no-repeat center;
    background-size: contain;
    margin: 0 0 10px 5px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .nav {
    display: none;
  }
}

/* Fix Text on Tablet */
@media only screen and (max-width: 650px) {

  .title {
    padding-top: 80px;
    font-size: 4.3rem;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-top: 17px;
  }

  /* Fix things near footer */
  .article-spread {
    height: 466px;
  }

  footer .wrapper h1 {
    font-size: 28pt;
  }

}


/* --------------MOBILE------------------------------ */

@media only screen and (min-width: 320px) and (max-width: 425px) {

/* Mobile Buttons */

.ghost-button {
  text-align: center;
  padding: 6px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  outline: none;
}


/* Mobile Header Section ------------------------*/

  header {
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
  }

  #rocket-ship-logo {
    display: inline-block;
    width: 31px;
    height: 41px;
    background: transparent url(../assets/icons/rocket_ship.svg) no-repeat center;
    background-size: contain;
    margin: 5px 0 0 8px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  #menu {
    display: inline-block;
    width: 28px;
    height: 25px;
    background: transparent url(../assets/icons/menu.svg) no-repeat center;
    background-size: contain;
    margin: 15px 0 10px 15px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .purchase-button {
    display: inline-block;
    float: right;
    margin: 8px 15px 0 0;
  }

  .nav {
    display: none;
  }

/* Mobile Main Section --------------------------*/

  .main {
    height: 640px;
    position: relative;
    background: linear-gradient(to bottom right, #5f2c82, #619d9e);
  }

  .title {
    margin: 0 auto;
    width: 80%;
    padding-top: 180px;
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
  }

  .subtitle {
    font-size: 12pt;
    font-weight: lighter;
    text-align: left;
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
  }

  #planet-right {
    position: absolute;
    background: transparent url(../assets/icons/planet.svg) no-repeat center right;
    background-size: contain;
    width: 100px;
    height: 65px;
    left: 68%;
    top: 9%;
  }

  #space-comet-top {
    position: absolute;
    background: transparent url(../assets/icons/comet.svg) no-repeat center;
    background-size: contain;
    width: 85px;
    height: 90px;
    left: 29%;
    top: 12%;
  }

  #space-comet-left {
    position: absolute;
    background: transparent url(../assets/icons/comet.svg) no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
    left: 4%;
    top: 63%;
  }

  #space-comet-right {
    position: absolute;
    background: transparent url(../assets/icons/comet.svg) no-repeat center;
    background-size: contain;
    width: 63px;
    height: 65px;
    left: 80%;
    top: 70%;
  }

  #space-man {
    position: absolute;
    background: transparent url(../assets/icons/astronaut_flag.svg) no-repeat center;
    background-size: contain;
    width: 100px;
    height: 95px;
    left: 40%;
    top: 67%;
  }

  #home-planet {
    position: absolute;
    background: transparent url(../assets/icons/home_planet.svg) no-repeat top;
    background-size: cover;
    width: 320px;
    height: 175px;
    top: 80%;
  }

/* Mobile Card Sections -----------------------------*/

  .first-info-card {
    position: relative;
    height: 380px;
    background: linear-gradient(to right, #46a65b, #a9e260);
  }

  .second-info-card {
    position: relative;
    height: 380px;
    background: linear-gradient(to right, #fe4f33, #e02870);
  }

  .article-spread {
    position: relative;
    height: 380px;
    background: linear-gradient(to right, #5f2c82, #619d9e);
  }

  h1 {
    text-align: center;
    font-size: 20pt;
    margin-top: 0;
    padding-top: 20px;
    font-weight: bold;
  }

  .lighter-title {
    font-style: normal;
    font-weight: lighter;
  }

  .icon-container {
    display: none;
  }

  .mobile-icon-container {
    display: block;
  }

  .performance-icon {
    display: block;
    margin: 0 auto;
    width: 50%;
    background: transparent url(../assets/icons/analytics.svg) no-repeat center;
    background-size: contain;
    width: 54px;
    height: 44px;
    padding: 20px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .connection-icon {
    display: block;
    margin: 0 auto;
    width: 50%;
    background: transparent url(../assets/icons/link.svg) no-repeat center;
    background-size: contain;
    width: 54px;
    height: 44px;
    padding: 15px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .access-icon {
    display: block;
    margin: 0 auto;
    width: 50%;
    background: transparent url(../assets/icons/astronaut.svg) no-repeat center;
    background-size: contain;
    width: 54px;
    height: 44px;
    padding: 20px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  p {
    margin: 0 auto;
    margin-top: 25px;
    width: 87%;
    font-weight: lighter;
  }

  .extra-text {
    display: none;
  }


  /* Mobile Footer Section ----------------------------------------*/

  footer {
    position: relative;
    height: 60px;
    background: linear-gradient(to right, #fc9b0e, #fbef28);
  }

  footer h1 {
    display: inline-block;
    position: absolute;
    font-size: 14pt;
    bottom: 10%;
    left: 5%;
    padding-top: 20px;
    font-weight: bold;
  }

  .footer-icon {
    display: inline-block;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    top: 18%;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .facebook {
    background: transparent url(../assets/icons/fbsocial.svg) no-repeat center;
    background-size: contain;
    right: 8%;
  }

  .twitter {
    background: transparent url(../assets/icons/twittersocial.svg) no-repeat center;
    background-size: contain;
    right: 5%;
  }

}
